---
Language: Cpp
BasedOnStyle: LLVM

# Use one style for C, C++, and public headers.
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Attach
IndentCaseLabels: true
IndentPPDirectives: None

PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

SortIncludes: true
IncludeBlocks: Preserve
ReflowComments: false
...
